<h1>Task</h1>

<p>
  <strong>Name:</strong>
	<%=h @task.name %>
</p>

<p>
  <%= link_to_edit @task, :text => 'Edit' %> |
  <%= link_to_destroy @task, :text => 'Destroy' %> |
  <%= link_to "View All", tasks_path %>
</p>
