body{
	font-family:					helvetica,arial,sans-serif;
	font-size:						100%;
	background:						#ebebeb;
	color:							#222;
	padding:						35px;
}
a{
	color:							#333;
	font-size:						12px;
}
.notice{
	position:						absolute;
	z-index:						9999;
	padding:						15px;
	background:						#777;
	opacity:						0.75;
	border:							15px solid #444;
	width:							500px;
	height:							100px;
	margin:							auto;
	text-align:						center;
}
.back{
	float:							right;
	margin:							0 -20px 5px 0;
	text-transform:					uppercase;
}
#wrapper{
	width:							900px;
	margin:							auto;
}
#sidebar{
	float:left;
	margin-left:-170px;
	width:100px;
}
#admin_nav{
	float:							left;
	width:							100%;
	margin:							0;
	padding:						0;
}
#admin_nav li{
	display:						inline;
	float:							left;
	border-top:						1px solid #4e4e4e;
	border-right:					1px solid #4e4e4e;
	border-left:					1px solid #4e4e4e;
	margin:							0 2px 0 0;
}
#admin_nav li .active{
	display:						block;
	float:							left;
	text-decoration:				none;
	font-size:						12px;
	padding:						5px 10px;
	text-transform:					uppercase;
	background:						#4e4e4e;
	color:							#fff;
}
#admin_nav li a{
	display:						block;
	float:							left;
	color:							#4e4e4e;
	text-decoration:				none;
	font-size:						12px;
	padding:						5px 10px;
	text-transform:					uppercase;
	background:						#aaa;	
}
#content{
	float:							left;
	width:							100%;
	padding:						10px;
	background:						#4e4e4e;
	font-size:						12px;
	border:							1px solid #4e4e4e;
}
#content_inner{
	float:							left;
	width:							880px;
	padding:						10px;
	background:						#fff;
	border:							1px solid #4e4e4e;
	-webkit-border-radius: 			4px;
	-moz-border-radius:				5px;
}
table{
	float:							left;
	width:							100%;
	border-collapse:				collapse;
}
table td{
	padding:						4px  8px;
}
tr.row{

}
tr.current_row{
	background:						#ffffaa !important;
	cursor:							default;
}

pre{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#EFEFEF none repeat scroll 0 0;
	overflow-x:scroll;
	padding:20px;
}

/* ============== */
/* = Nav Styles = */
/* ============== */
.nav_style_1{
	padding-bottom:20px;
}
	.nav_style_1 li{
		float:left;
	}
		.nav_style_1 li a{
			display:block;
			padding:20px;
		}
			.nav_style_1 li a.active{
				-moz-border-radius-bottomleft:20px;
				-moz-border-radius-bottomright:20px;
				-moz-border-radius-topleft:20px;
				-moz-border-radius-topright:20px;
				-webkit-radius:20px;
				background:#EFEFEF none repeat scroll 0 0;			}

/* =========== */
/* = Sub Nav = */
/* =========== */
#subnav{
  height:80px;
}
  #subnav li{
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
  }
    #subnav li a{
      display:block;
      padding:0 12px;
         -moz-border-radius: 12px; /* FF1+ */
      -webkit-border-radius: 12px; /* Saf3+, Chrome */
              border-radius: 12px; /* Opera 10.5, IE 9 */
    }
      #subnav li a.active{
        background:#efefef;
      }

/* ================ */
/* = Quick Styles = */
/* ================ */
.floatright{float:right;}
.floatleft{float:left;}
.clearboth{clear:both;}
.clear{clear:both;}
.padlr{padding:0 20px;}
.padtb{padding:20px 0;}

/* ================ */
/* = Flash Notice = */
/* ================ */
#flash_wrapper{
	left: 0px;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 100%;
}

#content_for_flash{
	background: #AAA;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-width: 1px;
	border-left-color: #3F3F3F;
	border-left-width: 1px;
	border-right-color: #3F3F3F;
	border-right-width: 1px;
	border-top-color: #3F3F3F;
	border-top-width: 1px;
	display:none;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	text-align: center;
	width: 50%;
}