
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables zerbra rows
 */
tr.odd {
	background:#f5f5f5;
}

tr.even {
	background:#fff;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('/images/dataTables/sort_asc.jpg') no-repeat center right;
}

.sorting_desc {
	background: url('/images/dataTables/sort_desc.jpg') no-repeat center right;
}

.sorting {
	background: url('/images/dataTables/sort_both.jpg') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('/images/dataTables/sort_asc_disabled.jpg') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('/images/dataTables/sort_desc_disabled.jpg') no-repeat center right;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables pagination
 */

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('/images/dataTables/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('/images/dataTables/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('/images/dataTables/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('/images/dataTables/forward_enabled.jpg');
}
