/* ================ */
/* = timers#index = */
/* ================ */
div#new_timer{
  float:right;
  width:22%;
}
  div#new_timer select{
    width:65%;
    float:right;
  }

table#timers_list{
  float:left;
  width:75%;
}