<h1>Associated Tasks</h1>

<%= will_paginate %>

<table>
  <tr>
    <th>Project</th>
    <th>Task</th>
  </tr>
  <% for associated_task in @associated_tasks %>
    <tr>
			<td><%=h associated_task.project.name %></td>
			<td><%=h associated_task.task.name %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
