<h1>Edit Timer</h1>

<%- if @timer.running? -%>
<p>
	Timer running since 
	<%= @timer.timer_started_at %>
</p>
<%- end -%>

<%= render :partial => 'form' %>

<p>
  <%= link_to_show @timer, :text => 'Show' %> |
  <%= link_to "View All", timers_path %>
</p>
